.header__wrapper {
    padding: 20px -65px;
    @include d-flex( , 329px);
}

.header__logo {
    width: 243px;
    height: 32px;
}

.header__menu {
    @include d-flex( , 10px);
}

.header__link {
    color: $main-color;
    font-size: 1rem;
    padding: 12px 20px;
}

