.browse__title {
    font-family: semibold;
    font-size: 38px;
    margin-bottom: 60px;
}

.browse__menu {
   @include d-flex(flex-start, 30px);
   flex-wrap: wrap;
   width: 1050px;
}

.browse__item {
    width: 240px;
    height: 316px;
    border-radius: 20px;
    background-color: $li-color;
}

.browse__subtitle {
   font-family: semibold;
   font-size: 22px;
   padding: 20px 30px;
}