.hero__wrapper {
  @include d-flex(flex-start, 30px);
}

.hero__text_big {
  font-family: semibold;
  font-size: 67px;
}

.hero__text_information {
  font-size: 22px;
  font-family: regular;
  width: 510px;
  margin: 20px 0 30px;
}

.hero__btn {
  @include btn(19px 50px 19px 82px, $secondary-color, $main-color);
  position: relative;
}

.hero__btn::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../../assents/rocket.png");
  background-size: cover;
  position: absolute;
  top: calc(50% - 10px);
  left: 50px;
}

.hero__static {
  @include d-flex(flex-start, 0);
  margin-top: 30px;
}

.hero__static_sale {
  font-size: 26px;
  width: 150px;
  font-family: regular;
}

.hero__static_auctions {
  font-size: 26px;
  width: 150px;
  font-family: regular;
}

.hero__static_artists {
  font-size: 26px;
  width: 150px;
  font-family: regular;
}

.first__number {
  font-family: number;
}

.hero_section__image__wrapper {
  border-radius: 30px;
  background-color: $li-color;
  border-radius: 30px;
  overflow: hidden;
}

.first__img {
  width: 510px;
  height: 401px;
}

.hero__avatar_wrp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 22px 20px;
}

.hero__avatar__p {
  font-size: 22px;
  font-family: semibold;
}

.hero__avatar__p-2 {
    font-size: 1rem;
    font-family: regular;
    height: 22px;
}

.avatar {
  width: 20px;
  height: 20px;
}

.alone__avatar_wrp {
    @include d-flex(flex-start,12px);
}